<% include partials/header %>


<div class="ui main text container segment">
    <div class="ui huge header"> <p> <%= blog.title %> </p></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src= "<%= blog.image %>">
            <div class="content">
                <span> Written on <%= blog.created.toDateString()%></span>
            </div>   
            <br>
            <div class="description">
                <p><%= blog.body%></p>
            </div>
            <br>
            <a class="ui basic button blue" href="/blogs"> Go Back </a>
            <a class="ui basic button orange" href="/blogs/<%=blog._id%>/edit"> Edit </a>
            <form id="delete" action="/blogs/<%-blog._id%>?_method=DELETE" method="POST">
                <button class="ui red basic button"> Delete </button>
            </form>
        </div>
    </div> 
</div>    
<% include partials/footer %>    